@import '../variable.scss';

.sidebar {
    .logo {
        margin-top: 32px;
        margin-left: 24px;
    }

    .sidebarMenu {
        margin-top: 24px;
        .accordion {
            outline: none;

            .accordion-item {
                border: none;

                .accordion-button {
                    box-shadow: none;
                    background-color: #fff;
                }

                svg {
                    margin-right: 16px;
                }

                .title {
                    color: $primary-text;
                    text-transform: uppercase;
                }

                .accordion-body {
                    margin: 0;
                    padding: 0;

                    ul {
                        li {
                            color: $primary-text;
                            padding: 8px 0;
                            padding-left: 30px;
                            text-transform: capitalize;

                            &:hover {
                                background: $primary-hover;
                            }

                            a{
                                text-decoration: none;
                                color: $primary-text;
                            }
                        }
                    }
                }
            }
        }
    }
}
