@import "./sass/components/authenticated-wrapper";
@import "./sass/components/sidebar-menu-item";
@import "./sass/variable.scss";
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: $primary-font;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
